.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}


.profile-icon {
   color: #FFFFFF;
   background-color: #e01b1b;
   width: 40px;
   height: 40px;
   border-radius: 100%;
}
.online {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 39px;
    right: 94px;
}